name: Android Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Upgrade pip and install six
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install six
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: ./gradlew assembleDebug --stacktrace --info --warning-mode all
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NetNavi-Debug
          path: app/build/outputs/apk/debug/app-debug.apk
